* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.b {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: green;
  color: white;
}
.a,
.c {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: blue;
  color: white;
}

.a.active,
.c.active {
  display: grid;
  place-items: center;
}
